@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --SoftBlue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --VeryDarkBlueMainBg: hsl(217, 54%, 11%);
  --VeryDarkBlueCardBg: hsl(216, 50%, 16%);
  --VeryDarkBlueLine: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Outfit", sans-serif;
  background-color: var(--VeryDarkBlueMainBg);
}

main {
  margin: auto 0;
}

p {
  font-size: 18px;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 25px;
  gap: 20px;
  width: 350px;
  border-radius: 15px;
  background-color: var(--VeryDarkBlueCardBg);
  box-shadow: 0 4px 15px 1px rgba(0, 0, 0, 0.1);
}

.card-image {
  display: flex;
  position: relative;
  cursor: pointer;
}

.equilibrium {
  width: 100%;
  border-radius: 10px;
}

.card-overlay {
  display: flex;
  position: absolute;
  border-radius: 10px;

  align-items: center;
  justify-content: center;
  flex-direction: column;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(178, 100%, 50%, 0.5);
  opacity: 0;
}

.card-overlay:hover {
  opacity: 1;
}

.card-title {
  margin-top: 5px;
  font-size: 22px;
  color: var(--White);
  cursor: pointer;
}

.card-title:active,
.card-title:hover {
  color: var(--Cyan);
}

.card-description {
  color: var(--SoftBlue);
}

.card-details {
  display: flex;
}

.card-details .price {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--Cyan);
}

.card-details .time {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--SoftBlue);
}

.card-creator {
  display: flex;
  align-items: center;
  gap: 16px;
  border-top: 1px solid var(--VeryDarkBlueLine);
  padding-top: 20px;
  color: var(--SoftBlue);
}

.card-creator img {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  border: solid 1px white;
}

.card-creator p {
  font-size: 16px;
}

.card-creator .name {
  cursor: pointer;
}

.card-creator .name:hover {
  color: var(--Cyan);
}

.footer {
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer-content span {
  margin: 5px;
  color: var(--White);
}

.footer-content a {
  color: var(--SoftBlue);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-content a:hover {
  color: var(--Cyan);
}